
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/modules.xml
.idea/ShoppingMall.iml
.idea/vcs.xml
.idea/workspace.xml
.packages
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Flutter/flutter_export_environment.sh
